.about {
  animation: fade 1s linear;
  .bg {
    position: relative;
    img {
      width: 100%;
      height: 600px;
      object-fit: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      filter: brightness(50%);
    }
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 20;
    padding: 2rem 0;
    .width {
      .intro {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-top: 1rem;
        .desc {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
    }
  }

  .width {
    padding: 4rem 1rem;
    @media (max-width: 450px) {
      padding: 0 2rem;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 1rem;
      overflow-x: hidden;
      @media (max-width: 450px) {
        width: 100%;
      }
      p {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      .p {
        width: 60%;
        @media (max-width: 450px) {
          width: 100%;
        }
        a {
          color: var(--btn);
          transition: var(--trans);
          padding-left: 4px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .col {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        @media (max-width: 450px) {
          gap: 2rem;
        }
        .cols {
          width: 420px;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          @media (max-width: 450px) {
            width: 100%;
            margin-top: 1rem;
          }
          @media (max-width: 900px) {
            width: 350px;
            margin-top: 1rem;
          }
          p {
            @media (max-width: 450px) {
              width: 90%;
              margin: auto;
              @media (max-width: 350px) {
                width: 80%;
                margin: auto;
              }
            }
          }
          h3 {
            font-size: 20px;
            @media (max-width: 450px) {
              @media (max-width: 350px) {
                font-size: 16px;
              }
            }
          }
          a {
            font-size: 10px;
            font-weight: 700;
            letter-spacing: 2px;
            color: var(--title);
            transition: var(--trans);
            &:hover {
              color: var(--btn);
            }
          }
        }
      }
      .employee {
        width: 70%;
        margin: auto;
        @media (max-width: 900px) {
          width: 90%;
          @media (max-width: 450px) {
            width: 100%;
          }
        }

        .nav {
          margin: 2rem 0rem;
          @media (max-width: 450px) {
            margin: 1rem 0rem;
          }
          .flex {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            margin-bottom: 1rem;
            .pag {
              width: 50px;
              height: 50px;
              background-color: #0e0e0e;
              border-radius: 4px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.2rem;
              cursor: pointer;
              transition: var(--trans);
              &:hover {
                color: var(--btn);
              }
            }
          }
          p {
            font-size: 10px;
            font-weight: 700;
            letter-spacing: 2px;
            color: var(--title);
          }
        }
        .swiper {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .swiper-slide {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .img {
              max-height: 400px;
              overflow: hidden;
              border-radius: 4px;

              @media (max-width: 990px) {
                height: 350px;

                @media (max-width: 650px) {
                  height: 320px;
                }
              }
              img {
                width: 100%;
                height: 400px;
                object-fit: cover;
                @media (max-width: 990px) {
                  height: 350px;

                  @media (max-width: 650px) {
                    height: 320px;
                  }
                }
              }
            }
            .test {
              height: 90px;
              width: 90px;
              margin-bottom: 1rem;
              border-radius: 100%;
            }
            .title {
              margin-top: 2rem;
              h5 {
                text-transform: uppercase;
                color: var(--title);
              }
            }
            .desc {
              margin: 1rem 0;
            }
            .p {
              margin-bottom: 2rem;
              .start {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.2rem;
                .s {
                  color: var(--btn);
                }
              }
            }
            .name {
              font-weight: 700;
              font-size: 20px;
              margin-top: 0.5rem;
              color: var(--title);
            }
            .position {
              font-size: 14px;
            }
          }
        }
        .w-pagination {
          margin-top: 1rem;
        }

        .s-pagination,
        .w-pagination {
          .swiper-pagination-bullet {
            background-color: #ffffff;
            margin-right: 8px;
            width: 10px;
            height: 4px;
            border-radius: 8px;
            cursor: pointer;
          }
          .swiper-pagination-bullet-active {
            background-color: var(--btn);
          }
        }
      }
    }
  }
  .all-width {
    video {
      width: 100%;
      @media (max-width: 450px) {
        width: 100%;
      }
    }
  }
}
